version: "3.9"

services:
  backend:
    build: ./backend
    networks:
      - appnet

  nginx:
    build: ./nginx
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
